name: Scrape Latest eBucks Deals

on:
  workflow_dispatch:
  schedule:
    - cron: '5 0/2 * * *'

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Go environment
        uses: actions/setup-go@v2.1.3
        with:
          go-version: '^1.16.0'

      - name: Build
        run: |-
          go build ./cmd/scraper
          go build ./cmd/generate-web

      - name: Cache scraper cache files
        uses: actions/cache@v2
        with:
          path: ./cache
          key: ebucks-colly-cache

      - name: Scrape
        timeout-minutes: 120
        run: ./scraper -overwrite -dir ./data -threads 1

      - name: Commit and push any data changes
        run: |-
          [ -z "$(git status --porcelain=v1 2>/dev/null)" ] && echo "No Changes" && exit 0
          git config user.name "Scraper"
          git config user.email "actions@users.noreply.github.com"
          git add -A data
          git commit -m "Latest data"
          git push

      - name: Render static web files
        run: ./generate-web -data-dir ./data -output-dir ./docs -path-prefix /ebucks-dealz

      - name: Commit and push any web file changes
        run: |-
          [ -z "$(git status --porcelain=v1 2>/dev/null)" ] && echo "No Changes" && exit 0
          git config user.name "Scraper"
          git config user.email "actions@users.noreply.github.com"
          git add -A docs
          git commit -m "Latest web"
          git push
